Repository ljuboops257/go-jira, changes with the labels that .github/labeler.yml gives for each.
All labels: jira-onpremise, jira-cloud, documentation, examples

chore(release): 1.1.6
  CHANGELOG.md
Labels: none

chore(release): 2.1.0
  CHANGELOG.md
Labels: none

chore(release): 1.9.0
  CHANGELOG.md
Labels: none

chore(release): 1.9.1
  CHANGELOG.md
Labels: none

test
  cloud/examples/addlabel/main.go
  cloud/examples/basic_auth/main.go
  cloud/examples/component_create/main.go
  cloud/examples/component_get/main.go
  cloud/examples/create/main.go
  cloud/examples/createwithcustomfields/main.go
  cloud/examples/do/main.go
  cloud/examples/ignorecerts/main.go
  cloud/examples/jql/main.go
  cloud/examples/newclient/main.go
  cloud/examples/pagination/main.go
  cloud/examples/renderedfields/main.go
  cloud/examples/searchpages/main.go
  cloud/examples/statuscategories/main.go
  go.mod
  onpremise/examples/addlabel/main.go
  onpremise/examples/basicauth/main.go
  onpremise/examples/bearerauth/main.go
  onpremise/examples/create/main.go
  onpremise/examples/createwithcustomfields/main.go
  onpremise/examples/do/main.go
  onpremise/examples/ignorecerts/main.go
  onpremise/examples/jql/main.go
  onpremise/examples/newclient/main.go
  onpremise/examples/pagination/main.go
  onpremise/examples/renderedfields/main.go
  onpremise/examples/searchpages/main.go
  onpremise/examples/statuscategories/main.go
Labels: jira-onpremise, jira-cloud, examples

chore(release): 2.1.1
  CHANGELOG.md
Labels: none

chore(release): null
  CHANGELOG.md
Labels: none

chore(release): 2.2.2
  CHANGELOG.md
Labels: none

fix user
  cloud/user.go
Labels: jira-cloud

chore(release): 2.2.3
  CHANGELOG.md
Labels: none

chore(release): 1.9.4
  CHANGELOG.md
Labels: none

fix path
  cloud/examples/addlabel/main.go
  cloud/examples/basic_auth/main.go
  cloud/examples/component_create/main.go
  cloud/examples/component_get/main.go
  cloud/examples/create/main.go
  cloud/examples/createwithcustomfields/main.go
  cloud/examples/do/main.go
  cloud/examples/ignorecerts/main.go
  cloud/examples/jql/main.go
  cloud/examples/newclient/main.go
  cloud/examples/pagination/main.go
  cloud/examples/renderedfields/main.go
  cloud/examples/searchpages/main.go
  cloud/examples/statuscategories/main.go
  docs/installation.md
  go.mod
  onpremise/examples/addlabel/main.go
  onpremise/examples/basicauth/main.go
  onpremise/examples/bearerauth/main.go
  onpremise/examples/create/main.go
  onpremise/examples/createwithcustomfields/main.go
  onpremise/examples/do/main.go
  onpremise/examples/ignorecerts/main.go
  onpremise/examples/jql/main.go
  onpremise/examples/newclient/main.go
  onpremise/examples/pagination/main.go
  onpremise/examples/renderedfields/main.go
  onpremise/examples/searchpages/main.go
  onpremise/examples/statuscategories/main.go
Labels: jira-onpremise, jira-cloud, documentation, examples

chore(release): 2.2.4
  CHANGELOG.md
Labels: none

.github/labeler.yml:

jira-onpremise:
- changed-files:
  - any-glob-to-any-file: onpremise/**

jira-cloud:
- changed-files:
  - any-glob-to-any-file: cloud/**

documentation:
- changed-files:
  - any-glob-to-any-file: docs/**

examples:
- changed-files:
  - any-glob-to-any-file: ['onpremise/examples/**', 'cloud/examples/**']
